<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>归档</title>
<meta th:replace="partials/head :: meta"/>
<link th:replace="partials/head :: link"/>
<style th:replace = "partials/head :: style"></style>
<style>
    .uk-accordion-title::before{
        float: right !important;
    }
</style>
</head>
<body>
<div th:insert = "partials/header :: nav" style="background-color: black;"></div>
<div id="content" class="uk-container uk-container-xsmall" style="margin-top: 2rem;min-height: calc(90vh);" >
    <ul uk-accordion = "multiple: true">
        <li th:each="archive,index : ${PageData.archives}" class="uk-open">
            <a class="uk-accordion-title" href="#">
                <span th:text="${archive.date }"></span>
                <span th:text="${' ('+ #lists.size(archive.posts) + ')'}" >2020 (10)</span>
            </a>
            <div class="uk-accordion-content">
                <p th:each="post : ${archive.posts}">
                    <span style="background: cadetblue;color: aliceblue;padding:0 .6em;border-radius: 2em;" th:text="${#dates.month(new java.util.Date(post.createTime))+'月'}"></span> 
                    <span th:text="${#dates.format(new java.util.Date(post.createTime),'MM-dd')}"></span>
                    <a th:href="'/post/'+${post.id}" target="_blank" th:text = "${post.title}" th:onclick="visit([[${post.id}]])"></a>
                </p>
            </div>
        </li>
    </ul>
</div>
<footer th:replace = "partials/footer :: fra"></footer>
</body>
<script th:inline="javascript">
function visit(id){
    if(id != null && id != ""){
        axios.get("/api/plugin/post/visit",{
            params:{
                id : id,
                visits : 1
            }
        }).then(res => {
            console.log(res);
            window.location.href = "/post/" + id;
        });
    }
}
</script>
<script th:replace="partials/script :: fra"></script>
</html>