<html>
    <head >
        <title >link</title>
        <meta charset="utf-8"/>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
        <link rel="icon" href="../../../static/images/favicon.ico"  >
        <meta name="description" content="设置页面">
        <meta name="author" content="chenghd">
        <link href="../../../static/css/uikit.min.css"  rel="stylesheet"/>
        <link href="../../../static/css/uikit-rtl.min.css" rel="stylesheet"/>
        <link href="../../../static/css/main.css" rel="stylesheet"/>
    </head>
<body>

<!-- 模板内容开始 -->
<section th:fragment="fra" style="height: 100%;width: 100%;display: flex;justify-content: center;align-items: flex-start;">
<style>
    .file-table th{
        text-align: left;
    }
    .linkLogoBox{
        width: 35px !important;
        height: 35px !important;
        overflow: hidden;
    }
    .linkLogoBox *{
        width: 100%;
        height: 100%;
    }
</style>
<div id="file-page" style="width: 100%;" v-cloak >
    <div>
        <div class="uk-margin-medium-top" >
            <div class="uk-placeholder">
                <ul class="uk-iconnav" style="justify-content: center;">
                    <li><a href="#" uk-icon="icon: plus-circle" uk-toggle="target: #createModel" > 添加</a></li>
                </ul>
            </div>
            <ul class="uk-flex-center uk-child-width-auto@l uk-child-width-1-1@m" uk-tab style="margin:0px" uk-switcher>
                <li class="uk-active"><a href="#">站外链接 <span uk-icon="link"></span></a></li>
                <li><a href="#" >站内链接 <span uk-icon="link"></span></a></li>
            </ul>
            <ul class="uk-switcher uk-margin">
                <li>
                <!-- 站外链接 start -->
                <table class="uk-table uk-table-responsive uk-table-divider">
                    <thead>
                        <tr>
                            <th style="text-align: left;">名称</th>
                            <th style="text-align: left;">链接</th>
                            <th style="text-align: left;">图标</th>
                            <th style="text-align: left;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(link,i) in offsiteLink.links">
                            <td>{{link.name}}</td>
                            <td>{{link.url}}</td>
                            <td ><div v-html="link.logo" class="linkLogoBox"></div></td>
                            <td>
                                <ul class="uk-iconnav" style="height:35px;display: flex;align-items: center;">
                                    <li style="padding-left: 0;"><a href="#" uk-icon="icon: minus-circle" @click="deleteById(link.id)"></a></li>
                                    <li><a href="#" uk-icon="icon: file-edit" @click="showUpdateModel(link.id)"></a></li>
                                    <li><a :href="link.url" uk-icon="icon: link" target="_blank"></a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 站外链接 end -->
                </li>
                <li>
                <!-- 站内链接 start -->
                <table class="uk-table uk-table-responsive uk-table-divider">
                    <thead>
                        <tr>
                            <th style="text-align: left;">名称</th>
                            <th style="text-align: left;">链接</th>
                            <th style="text-align: left;">图标</th>
                            <th style="text-align: left;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(link,i) in siteLink.links">
                            <td>{{link.name}}</td>
                            <td>{{link.url}}</td>
                            <td ><div v-html="link.logo" class="linkLogoBox"></div></td>
                            <td>
                                <ul class="uk-iconnav" style="height:35px;display: flex;align-items: center;">
                                    <li style="padding-left: 0;"><a href="#" uk-icon="icon: minus-circle" @click="deleteById(link.id)"></a></li>
                                    <li><a href="#" uk-icon="icon: file-edit" @click="showUpdateModel(link.id)"></a></li>
                                    <li><a :href="link.url" uk-icon="icon: link" ></a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 站内链接 end -->
                </li>
            </ul>
        </div>
    </div>
    <!-- 创建链接model -->
    <div id="createModel" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <legend class="uk-legend">添加链接</legend>
            <div class="uk-margin">
                <label class="uk-form-label">名称</label>
                <input class="uk-input" type="text" v-model="newLink.name">
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">链接</label>
                <input class="uk-input" type="text" v-model="newLink.url">
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">图标</label>
                <textarea class="uk-textarea" rows="3" v-model="newLink.logo"></textarea>
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-radio" type="radio" name="linkType" checked value="4" v-model="newLink.type"> 站外链接</label>
                <label><input class="uk-radio" type="radio" name="linkType" value="1" v-model="newLink.type"> 站内链接</label>
                <label><input class="uk-radio" type="radio" name="linkType" value="3" v-model="newLink.type"> 插件链接</label>
                <label><input class="uk-radio" type="radio" name="linkType" value="2" v-model="newLink.type"> 菜单链接</label>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-default" @click="saveLink">提交</button>
            </div>
        </div>
    </div>
    <!-- 创建链接model -->
    <!-- 更新链接model -->
    <div id="updateModel" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <legend class="uk-legend">更新链接</legend>
            <div class="uk-margin">
                <label class="uk-form-label">名称</label>
                <input class="uk-input" type="text" v-model="updateLink.name">
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">链接</label>
                <input class="uk-input" type="text" v-model="updateLink.url">
            </div>
            <div class="uk-margin">
                <label class="uk-form-label">图标</label>
                <textarea class="uk-textarea" rows="3" v-model="updateLink.logo"></textarea>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-default" @click="updateById(updateLink.id)">更新</button>
            </div>
        </div>
    </div>
    <!-- 创建链接model -->
</div>

<script>
function pageLoaded(config){
    const app = new Vue({
        el: '#file-page',
        data:{
            newLink:{
                name:"",
                url:"",
                logo:"",
                type:4
            },
            updateLink:{
                id:"",
                name:"",
                url:"",
                logo:""
            },
            offsiteLink:{
                links:[],
                page:1,
                size:10,
                totalPage:0,
                totalData:0
            },
            siteLink:{
                links:[],
                page:1,
                size:10,
                totalPage:0,
                totalData:0
            }
        },
        methods:{
            initPageData(){
                this.loadOffSiteLink();
                this.loadSiteLink();
            },
            clearNewLink(){
                this.newLink.id = "";
                this.newLink.name = "";
                this.newLink.url = "";
                this.newLink.logo = "";
                this.newLink.type = 4;
            },
            saveLink(){
                let url = "/api/admin/link/save";
                axios.post(url,this.newLink).then(res => {
                    this.initPageData();
                    UIkit.modal(document.getElementById("createModel")).hide();
                    this.clearNewLink();
                }).catch(err => {
                    console.log(err);
                });
            },
            showUpdateModel(id){
                if(id == null || id == ""){
                    return;
                }
                let link = null;
                let links = this.offsiteLink.links;
                for(i in links){
                    if(links[i].id == id){
                        link = links[i]
                        break;
                    }
                }


                if(link != null){
                    this.updateLink.id = id;
                    this.updateLink.name = link.name;
                    this.updateLink.url = link.url;
                    this.updateLink.logo = link.logo;

                    UIkit.modal(document.getElementById("updateModel")).show();
                }
            },
            loadOffSiteLink(){ // 加载站外链接
                let url = "/api/admin/link/page/by/type";
                axios.get(url,{
                    params:{
                        type:4,
                        page:this.offsiteLink.page,
                        size:this.offsiteLink.size
                    }
                }).then(res => {
                    if(res.status == 200){
                        this.offsiteLink.links = res.data.data.data;
                        this.offsiteLink.page = res.data.data.page;
                        this.offsiteLink.totalData = res.data.data.totalData;
                        this.offsiteLink.totalPage = res.data.data.totalPage;
                    }
                }).catch(err => {console.log(err);});
            },
            loadSiteLink(){
                let url = "/api/admin/link/page/by/type";
                axios.get(url,{
                    params:{
                        type:1,
                        page:this.siteLink.page,
                        size:this.siteLink.size
                    }
                }).then(res => {
                    if(res.status == 200){
                        this.siteLink.links = res.data.data.data;
                        this.siteLink.page = res.data.data.page;
                        this.siteLink.totalData = res.data.data.totalData;
                        this.siteLink.totalPage = res.data.data.totalPage;
                    }
                }).catch(err => {console.log(err);});
            },
            deleteById(id){
                if(id == "" || id == null ){
                    return;
                }
                axios.get("/api/admin/link/delete",{
                    params:{
                        id:id
                    }
                }).then(res => {
                    this.initPageData();
                }).catch(err => {
                    console.log(err);
                });
            },
            updateById(id){
                if(id == "" || id == null ){
                    return;
                }
                axios.post("/api/admin/link/update",this.updateLink).then(res => {
                    this.initPageData();
                    UIkit.modal(document.getElementById("updateModel")).hide();
                }).catch(err => {
                    console.log(err);
                });
            },
            pre(type){
                if(this.page > 1){
                    this.page = this.page - 1;
                    this.initPageData();
                }
            },
            next(){
                if(this.page < this.totalPage){
                    this.page = this.page + 1 ;
                    this.initPageData();
                }
            },
            skip(page){
                console.log(page);
                if(page > 0 && page <= this.totalPage && page != this.page){
                    this.page = page;
                    this.initPageData();
                }
            }
            
        },
        created(){
            this.initPageData();
        }
    });
    
}
pageLoaded();
</script>
</section>
<!-- 模板内容结束 -->

</body>
<script src="../../../../static/js/uikit.min.js" type="text/javascript"></script>
<script src="../../../../static/js/uikit-icons.min.js" type="text/javascript"></script>
<script src="../../../../static/js/app.js" type="text/javascript"></script>
</html>

