<html>
    <head>
        <title th:text="setting"></title>
        <meta charset="utf-8"/>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
        <link rel="icon" href="../../../static/images/favicon.ico"  >
        <meta name="description" content="设置页面">
        <meta name="author" content="chenghd">
        <link href="../../../static/css/uikit.min.css"  rel="stylesheet"/>
        <link href="../../../static/css/uikit-rtl.min.css" rel="stylesheet"/>
        <link href="../../../static/css/main.css" rel="stylesheet"/>
    </head>
<body>

<!-- 模板内容开始 -->
<section th:fragment="fra" style="height: 100%;width: 100%;">
<div id="settings" v-cloak uk-scrollspy="cls: uk-animation-slide-bottom; target:>div;delay: 300;">
    <!-- 常规设置开始 -->
    <div class="uk-section">
        <div class="uk-container">
    
            <h3>常规设置</h3>
    
            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                <div>
                    <p>常规设置包括网站关键字，站名，域名等设置</p>
                </div>
                <div>

                </div>
            </div>
    
        </div>
    </div>
    <!-- 常规设置结束 -->

    <!-- 网站内容设置开始 -->
    <div class="uk-section uk-section-secondary uk-light">
        <div class="uk-container">
    
            <h3>Web设置</h3>
    
            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                <div>
                    <p>常规设置包括网站关键字，站名，域名等设置</p>
                    <div>
                        <button class="uk-button uk-button-default" @click="updateWebSettings">提交修改</button>
                    </div>
                </div>
                <div>
                    <form>
                        <fieldset class="uk-fieldset">
                    
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">站名</label>
                                <input class="uk-input" type="text" placeholder="站名" v-model="webSettings.name">
                            </div>
                    
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">域名</label>
                                <input class="uk-input" type="text" placeholder="域名" v-model="webSettings.domain">
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">描述</label>
                                <input class="uk-input" type="text" placeholder="描述" v-model="webSettings.description">
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">版权信息</label>
                                <input class="uk-input" type="text" placeholder="描述" v-model="webSettings.copy">
                            </div>

                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Logo</label>
                                <!-- <input class="uk-input" type="text" placeholder="logo" v-model="webSettings.logo"> -->
                                <div class="uk-inline uk-width-1-1">
                                    <a class="uk-form-icon uk-form-icon-flip" href="#" th:href="${logo}" uk-icon="icon: link" target="_blank"  ></a>
                                    <input class="uk-input" type="text" placeholder="logo" v-model="webSettings.logo">
                                </div>
                            </div>
                            
                            

                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Logo Text</label>
                                <input class="uk-input" type="text" placeholder="logo text" v-model="webSettings.logText">
                            </div>
                            
                        </fieldset>
                    </form>

                </div>
            </div>
    
        </div>
    </div>
    <!-- 网站内容设置结束 -->

    <!-- 数据设置开始 -->
    <div class="uk-section">
        <div class="uk-container">
    
            <h3>数据设置</h3>
    
            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                <div>
                    <p>数据设置包括数据库，静态资源位置等设置</p>
                </div>
                <div>
                </div>
            </div>
    
        </div>
    </div>
    <!-- 数据设置结束 -->

    <!-- 主题设置开始 -->
    <div class="uk-section uk-section-secondary uk-light">
        <div class="uk-container">
    
            <h3>主题设置</h3>
    
            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                <div>
                    <p>前台主题设计。内置主题：遇见、清风...</p>
                </div>
                <div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">选择主题</label>
                        <select class="uk-select" id="form-horizontal-select" v-model="webSettings.themeId">
                            <option></option>
                            <option v-for="(theme,index) in themeSettings.themeids" v-bind:value="theme.themeId" >{{theme.themeId}}</option>
                        </select>
                        <button class="uk-button uk-button-default" style="float: right;margin-top: 5px;" @click="updateTheme">更新</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 主题设置结束 -->
    <!-- <div class="uk-margin">
        <div class="uk-inline">
            <a class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: link"></a>
            <input class="uk-input" type="text">
        </div>
    </div> -->

</div>
<script>   
app = new Vue({
    el: '#settings',
    data:{
        webSettings:{
            name:"", // 站名
            domain:"", // 网站域名
            description:"", // 描述 
            copy:"", // footer脚步版本信息
            logText:"", // 文字logo
            logo:"",// logo url
            themeId:"" // theme id
        },
        themeSettings:{
            themeids:[]
        },
        buttons:{
            webEditText:"编辑111"

        }
    },
    methods:{
        refresh(){

            axios.get("/api/sys/get/web/settings").then(res => {
                const data = res.data.data;
                this.webSettings.name = data.name;
                this.webSettings.domain = data.domain;
                this.webSettings.copy = data.copy;
                this.webSettings.logText = data.logText;
                this.webSettings.logo = data.logo;
                this.webSettings.description = data.description;
                this.webSettings.themeId = data.themeId;
            }).catch(res => {
                console.log(res);
            });
            axios.get("/api/admin/theme/list").then(res => {
                const data = res.data.data;
                for(let key in data){
                    this.themeSettings.themeids.push({'themeId':key,'path':data[key]});
                }

            }).catch(res => {
                console.log(res);
            });

        },
        updateWebSettings(){
            //update/web/settings
            axios.post("/api/sys/update/web/settings",this.webSettings).then(res => {
                if(res.data.code == 8101){
                    location.reload();
                }else{
                    console.log(res.data.msg);
                }
            }).catch(err => {
                console.log(err);
            });

        },
        updateTheme(){
            axios.get("/api/admin/theme/update",{
                params:{themeId:this.webSettings.themeId}
            }).then(res => {
                if(res.data.code == 8101){
                    console.log("更新主题成功！");
                }
            }).catch(err => {
                console.log(err);
            });
            console.log("更新成："+this.webSettings.themeId);
        }
    },
    created(){
        this.refresh();
    }

});
</script>
</section>
<!-- 模板内容结束 -->

</body>
<script src="../../../static/js/axios.min.js" type="text/javascript"></script>
<script src="../../../static/js/uikit.min.js" type="text/javascript"></script>
<script src="../../../static/js/uikit-icons.min.js" type="text/javascript"></script>
<script src="../../../static/js/vue.2.x.js" type="text/javascript"></script>
</html>