<!-- 模板内容开始 -->
<section th:fragment="fra" style="height: 100%;width: 100%;display: flex;justify-content: center;align-items: flex-start;">
<style>
    .commentContentBox{
        letter-spacing: 0;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;  /*要显示的行数*/
      -webkit-box-orient: vertical;
      font-size:12px;
    }
</style>
<div id="comment-page" style="width: 100%;padding-top: 2rem;" v-cloak >
    <div class="uk-container-expand">
        <div id="comment-detail-modal" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        
                <button class="uk-modal-close-default" type="button" uk-close></button>
        
                <div>
                    <p><span class="uk-label">IP:</span>{{comment.ip}}</p>
                    <p><span class="uk-label">邮箱:</span>{{comment.email}}</p>
                    <p><span class="uk-label">网址:</span>{{comment.address}}</p>
                    <p>{{comment.content}}</p>
                </div>

            </div>
        </div>
        <div class="uk-grid-small uk-child-width-expand@s" uk-grid style="position: inherit;">
            <div class="uk-width-1-4@m uk-width-1-1@s" v-for="comment in comments" style="padding-left: 1rem;">
                <div class="uk-card uk-card-default uk-card-body">
                    <div v-if="comment.properties.status == 1" class="uk-card-badge uk-label" style="display:flex;"><span style="margin:auto;">已审核</span></div>
                    <div v-if="comment.properties.status == 0" class="uk-card-badge uk-label" style="background-color: #ff7b54;display:flex;"><span style="margin:auto;">未审核</span></div>
                    <h3 class="uk-card-title" >{{comment.name}}<span style="font-size: small;font-weight: 300;margin-left: 1rem;">{{formatDate(comment.createTime)}}</span></h3>
                    
                    <p class="commentContentBox">{{comment.content}}</p>
                    <ul class="uk-iconnav">
                        <li v-if="comment.properties.status == 1"><a uk-icon="icon: close" @click="invalid(comment.id)"></a></li>
                        <li v-if="comment.properties.status == 0"><a uk-icon="icon: check" @click="valid(comment.id)"></a></li>
                        <li><a uk-icon="icon: trash" @click="deleteById(comment.id)"></a></li>
                        <li><a href="#comment-detail-modal" @click="showDetailModal(comment.id)" uk-icon="icon: tablet"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <ul v-if="totalPage > 1" class="uk-pagination uk-flex-center" uk-margin>
            <li><a href="#" @click="pre"><span uk-pagination-previous></span></a></li>

            <li v-for="i of totalPage" :class="page == i ? 'uk-active' : ''"><span v-if="page == i">{{i}}</span><a href="#" v-if="page != i" @click="skip(i)">{{i}}</a></li>

            <li><a href="#" @click="next"><span uk-pagination-next></span></a></li>
        </ul>
        
    </div>
</div>

<script>
app = new Vue({
    el: '#comment-page',
    data:{
        page:1,
        size:12,
        totalPage:0,
        totalData:0,
        comments:[],
        comment:{
            ip:"",
            address:"",
            email:"",
            content:""
        }
    },
    methods:{
        initPageData(){
            i$.page("v1/admin/comment/page",(res) =>{
                this.comments = res.data;
                this.page = res.page;
                this.totalPage = res.totalPage;
                this.totalData = res.totalData;
            });
        },
        showDetailModal(id){
            let comments = this.comments;
            for(let i in comments ){
                if(comments[i].id == id){
                    this.comment = {
                        ip:comments[i].ip,
                        address:comments[i].address,
                        email:comments[i].email,
                        content:comments[i].content
                    }
                    UIkit.modal(document.getElementById("comment-detail-modal")).show();
                    break;
                }
            }
        },
        formatDate(ms){
            const date = new Date(ms);
            return date.getFullYear().toString() + "-" + (date.getMonth() + 1).toString() + "-" + date.getDate().toString() + " " +
                    date.getDate().toString() + ":" + date.getMinutes().toString() ;
        },
        valid(id){
            i$.patch("v1/admin/comment/valid/"+id,(res)=>{
                this.initPageData();
            });
        },
        invalid(id){
            i$.patch("v1/admin/comment/invalid/"+id,(res)=>{
                this.initPageData();
            });
        },
        deleteById(id){
            i$.delete("v1/admin/comment/delete/"+id,(res)=>{
                this.initPageData();
            });
        },
        pre(){
            i$.pre_page("v1/admin/comment/page",(res) =>{
                this.comments = res.data;
                this.page = res.page;
            });
        },
        next(){
            i$.next_page("v1/admin/comment/page",(res) =>{
                this.comments = res.data;
                this.page = res.page;
            });
        },
        skip(page){
            i$.page({
                href:"v1/admin/comment/page",
                params:{
                    page:page
                }
            },(res) =>{
                this.comments = res.data;
                this.page = res.page;
            });
        }

    },
    created(){
        this.initPageData();
    }
});
</script>
</section>
<!-- 模板内容结束 -->