<div th:fragment="fra(menus,logoText)">
    <nav class="uk-navbar-container uk-visible@m" uk-navbar>
        <div class="uk-navbar-left ">
            <a class="uk-navbar-item uk-logo" th:text="${logoText == null ? 'I Sparks' : logoText}">I Sparks</a>
            <ul class="uk-navbar-nav">
                <!-- 导航 start -->
                <li th:each="menu : ${menus}" >
                    <a th:text="${menu.name}" th:onclick="contentLoad([[${menu.link}]],'fra')">父目录</a>
                    <div th:if="${not #lists.isEmpty(menu.subdirectory)}" class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li  th:each="subMenu : ${menu.subdirectory}"><a th:href="${subMenu.link}" th:text="${subMenu.name}">子目录</a></li>
                        </ul>
                    </div>
                </li>
                <!-- 导航 end -->
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="https://github.com/" target="_blank"><span uk-icon="github"></span></a></li>
            </ul>
        </div>
    </nav>
    <div class="uk-position-relative">
        <nav class="uk-hidden@m" uk-navbar="mode: click;dropbar: true;dropbar-mode: push;align:center;">
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li>
                        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <!-- 小屏幕导航开始 -->
                                <li th:each="menu : ${menus}">
                                    <a th:href="${menu.link}" th:text="${menu.name}" >父目录</a>
                                    <a  th:if="${not #lists.isEmpty(menu.subdirectory)}" th:each="subMenu : ${menu.subdirectory}" th:href="${subMenu.link}" th:text="${menu.name + '-' + subMenu.name}">子目录</a>
                                </li>
                                <!-- 小屏幕导航结束 -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>