<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>首页</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
    <meta th:replace="partials/head :: meta"/>
    <link th:replace="partials/head :: link"/>
    <style th:replace = "partials/head :: style"></style>
    <link href="../../../static/css/uikit-rtl.min.css" th:href="@{/static/css/uikit-rtl.min.css}" rel="stylesheet"/>
    <link href="../../../static/css/uikit.min.css" th:href="@{/static/css/uikit.min.css}" rel="stylesheet"/>
</head>
<style>
    
</style>
<body >

<div th:replace = "partials/header :: nav"></div>
<div>
    <div uk-slideshow  class=" uk-visible-toggle uk-light">
        <ul class="uk-slideshow-items">
            <li>
                <img src="/static/images/banner.jpg" alt="" uk-cover>
                <div class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"></div>
                <div class="uk-position-center uk-position-medium uk-text-center">
                    <div uk-slideshow-parallax="scale: 1,1,0.8">
                        <h2 uk-slideshow-parallax="x: 200,0,0">Heading</h2>
                        <p uk-slideshow-parallax="x: 400,0,0;">Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </li>
            <li>
                <img src="/static/images/banner1.jpg" alt="" uk-cover>
                <div class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000"></div>
                <div class="uk-position-center uk-position-medium uk-text-center">
                    <div uk-slideshow-parallax="scale: 1,1,0.8">
                        <h2 uk-slideshow-parallax="x: 200,0,0">Heading</h2>
                        <p uk-slideshow-parallax="x: 400,0,0;">Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </li>
        </ul>
    
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    
    </div>

</div>



<div class="uk-container uk-container-xsmall">
        <!-- 主要内容 -->
</div>

<!-- <footer th:replace = "partials/footer :: fra"></footer> -->

</body>
<script th:replace="partials/script :: fra"></script>
    <script src="../../../static/js/uikit.min.js" th:src="@{/static/js/uikit.min.js}" type="text/javascript"></script>
    <script src="../../../static/js/uikit-icons.min.js" th:src="@{/static/js/uikit-icons.min.js}" type="text/javascript"></script>
    <script src="../../../static/js/app.js" th:src="@{/static/js/app.js}"></script>
</html>