<div th:fragment="fra" style="position: relative ;background: #101924;border-color: #203247;width:100%;height:100%;display: flex;flex-direction: column;justify-content: space-between;" >
<style>
    .app-brand{width: 100%;padding-top: 100%;position: relative;border-bottom: 1px solid gray;}
    .app-brand a{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
    .sidebar-bottom{width: 100%;position: relative;bottom: 0;left: 0;display: flex;flex-direction: column;justify-content: center;align-items: center;padding-bottom: 13px;border-top: 1px solid gray;padding-right: 10px;}
    .sidebar-wrapper{height: 100%;display: flex;flex-direction: column;justify-content: start;align-items:center;overflow-y: auto;}
    .sidebar-unit{width: 20px;height: 20px;margin: 10px;}
    .sidebar-unit a,.sidebar-unit span,.sidebar-unit svg{width:100%;height:100%;color: grey;}
    .sidebar-unit a:hover,.sidebar-unit span:hover,.sidebar-unit svg:hover{color: lightyellow;}
    .sidebar-wrapper::-webkit-scrollbar-thumb{
        /*滚动条中的滚动块*/
        border-radius:10px;
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background:#535353; 
    }
    .sidebar-wrapper::-webkit-scrollbar-track{
        background-color: rgba(0,0,0,0);
    }
    .sidebar-wrapper::-webkit-scrollbar{
        width: 3px;
    }
</style>
<div class="app-brand">
    <a href="/admin" style="width: 100%;height: 100%;padding:10px"><img style="width: 100%;height: 100%;" th:src="${logo == '' ? '/static/images/logo.png': logo}"></a>
</div>    
<div class="sidebar-wrapper">
    <div class="sidebar-unit" th:each="button : ${buttons}" th:title = "${button.name}">
        <a href="/admin" th:href = "${button.link}" th:utext = "${button.html != null && button.html != '' ? button.html : button.svg }"></a>
    </div>
</div>
<div class="sidebar-bottom">
    <div class="sidebar-unit">
        <a href="/admin/profile"><span uk-icon="user" ></span></a>
    </div>
    <div class="sidebar-unit">
        <a href="/admin/settings" ><span uk-icon="nut" ></span></a>
    </div>
</div>
<script>
    function sidbarLoaded(){
        if(localStorage.getItem("sidebar.hidden") != null){
            let hidden = localStorage.getItem("sidebar.hidden");
            if(hidden == 'true'){
                document.getElementById("sidebar").hidden = true;
            }else{
                document.getElementById("sidebar").removeAttribute("hidden");
            }
        }
    }
</script>
</div>