<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.isparks.dao.mybatis.mapper.AttachmentMapper">

    <sql id="table">
        attachment
    </sql>

    <sql id="selectAll">
        SELECT id,status,create_time,modify_time,name,media_type,suffix,path
        FROM
        <include refid="app.isparks.dao.mybatis.mapper.AttachmentMapper.table"/>
    </sql>

    <sql id="count">
        SELECT count(1)
        FROM
        <include refid="app.isparks.dao.mybatis.mapper.AttachmentMapper.table"/>
    </sql>

    <resultMap id="resultMap" type="app.isparks.core.pojo.entity.Attachment">
        <id property="id" column="id"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="post_id" property="postId"/>
        <result column="file_id" property="fileId"/>
    </resultMap>

    <!-- 新增数据 -->
    <insert id="insert">
        INSERT INTO
        <include refid="app.isparks.dao.mybatis.mapper.AttachmentMapper.table"/>
        (
        <if test="postId != null and postId != ''">post_id,</if>
        <if test="fileId != null and fileId != ''">file_id,</if>
        id,create_time,modify_time,status
        )
        VALUES
        (
        <if test="postId != null and postId != ''">#{postId},</if>
        <if test="fileId != null and fileId != ''">#{fileId},</if>
        #{id},#{createTime},#{modifyTime},#{status}
        )
    </insert>


    <select id="deleteByCond" resultType="int">
        DELETE FROM
        <include refid="app.isparks.dao.mybatis.mapper.AttachmentMapper.table"/>
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>
            <if test="postId != null and postId != ''">
                AND postId = #{postId}
            </if>
            <if test="fileId != null and fileId != ''">
                AND fileId = #{fileId}
            </if>
        </where>
    </select>


    <!-- 根据条件更新 -->
    <update id="updateById">
        UPDATE
        <include refid="app.isparks.dao.mybatis.mapper.AttachmentMapper.table"/>
        <set>
            <if test="status != null and status != ''">status = #{status} ,</if>
            modify_time = #{modifyTime}
        </set>
        WHERE
        id = #{id}
    </update>

    <!-- 根据条件查找 -->
    <select id="selectByCond" resultType="list" resultMap="resultMap">
        <include refid="app.isparks.dao.mybatis.mapper.AttachmentMapper.selectAll"/>
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>
            <if test="postId != null and postId != ''">
                AND postId = #{postId}
            </if>
            <if test="fileId != null and fileId != ''">
                AND fileId = #{fileId}
            </if>
        </where>
    </select>


    <select id="countByCond" resultType="long">
        <include refid="app.isparks.dao.mybatis.mapper.AttachmentMapper.count"/>
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>
            <if test="postId != null and postId != ''">
                AND postId = #{postId}
            </if>
            <if test="fileId != null and fileId != ''">
                AND fileId = #{fileId}
            </if>
        </where>
    </select>

</mapper>