<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.isparks.dao.mybatis.mapper.CommentMapper">

    <sql id="table">
        comment
    </sql>

    <sql id="selectAll">
        SELECT id,create_time,modify_time,status,content,name,email,address,ip FROM
        <include refid="table"/>
    </sql>

    <sql id="count">
        SELECT count(1)
        FROM
        <include refid="table"/>
    </sql>

    <resultMap id="resultMap" type="app.isparks.core.pojo.entity.Comment">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="content" column="content"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="ip" column="ip"/>
    </resultMap>

    <insert id="insert" >
        INSERT INTO
        <include refid="table"/>
        (
        <if test="content != null and content != ''">content,</if>
        <if test="name != null and name != ''">name,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="address != null and address != ''">address,</if>
        <if test="ip != null and ip != ''">ip,</if>
        id,create_time,modify_time,status
        )
        VALUES
        (
        <if test="content != null and content != ''">#{content},</if>
        <if test="name != null and name != ''">#{name},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="address != null and address != ''">#{address},</if>
        <if test="ip != null and ip != ''">#{ip},</if>
        #{id},#{createTime},#{modifyTime},#{status}
        )
    </insert>

    <delete id="deleteBy">
        DELETE FROM
        <include refid="table"/>
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="content != null and content != ''">
                AND content = #{content}
            </if>
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
            <if test="address != null and address != ''">
                AND address = #{address}
            </if>
            <if test="ip != null and ip != ''">
                AND ip = #{ip}
            </if>
        </where>
    </delete>

    <select id="selectByCond" resultMap="resultMap" resultType="list">
        <include refid="selectAll"/>
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="content != null and content != ''">
                AND content = #{content}
            </if>
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
            <if test="address != null and address != ''">
                AND address = #{address}
            </if>
            <if test="ip != null and ip != ''">
                AND ip = #{ip}
            </if>
        </where>
    </select>

    <select id="countBy" resultType="int">
        <include refid="count"/>
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="content != null and content != ''">
                AND content = #{content}
            </if>
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
            <if test="address != null and address != ''">
                AND address = #{address}
            </if>
            <if test="ip != null and ip != ''">
                AND ip = #{ip}
            </if>
        </where>
    </select>

    <update id="updateById">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="status != null ">status = #{status} ,</if>
            <if test="content != null and content != ''">content = #{content} ,</if>
            <if test="email != null and email != ''">email = #{email} ,</if>
            <if test="address != null and address != ''">address = #{address} ,</if>
            <if test="ip != null and ip != ''">ip = #{ip} ,</if>
            modify_time = #{modifyTime}
        </set>
        WHERE
        id = #{id}
    </update>
</mapper>