<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.isparks.dao.mybatis.mapper.OptionMapper">

    <sql id="table">
        option
    </sql>

    <sql id="selectAll">
        SELECT id,modify_time,create_time,status,key,value
        FROM
        <include refid="table"/>
    </sql>

    <resultMap id="baseResultMap" type="app.isparks.core.pojo.entity.Option">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="key" property="key"/>
        <result column="value" property="value"/>
        <result column="type" property="type"/>
    </resultMap>

    <!-- 增 -->
    <insert id="insert">
        INSERT INTO
        <include refid="table"/>
        (
        <if test="key != null and key != ''">key,</if>
        <if test="value != null and value != ''">value,</if>
        <if test="type != null ">type,</if>
        id,create_time,modify_time,status
        )
        VALUES
        (
        <if test="key != null and key != ''">#{key},</if>
        <if test="value != null and value != ''">#{value},</if>
        <if test="type != null">#{type},</if>
        #{id},#{createTime},#{modifyTime},#{status}
        )
    </insert>

    <!-- 删 -->
    <delete id="deleteByCond">
        DELETE FROM
        <include refid="table"/>
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>

            <if test="key != null and key != ''">
                AND key = #{key}
            </if>
            <if test="value != null and value != ''">
                AND value = #{value}
            </if>
            <if test="type != null ">
                AND type = #{type}
            </if>
        </where>
    </delete>

    <!-- 改 -->
    <update id="updateById">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="status != null and status != ''">status = #{status} ,</if>
            <if test="key != null and key != ''">key = #{key} ,</if>
            <if test="value != null">value = #{value} ,</if>
            <if test="type != null ">value = #{type} ,</if>
            modify_time = #{modifyTime}
        </set>
        WHERE
        id = #{id}
    </update>

    <!-- 查 -->
    <select id="selectByCond" resultMap="baseResultMap" resultType="list">
        <include refid="selectAll"/>
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>

            <if test="key != null and key != ''">
                AND key = #{key}
            </if>
            <if test="value != null and value != ''">
                AND value = #{value}
            </if>
            <if test="type != null ">
                AND type = #{type}
            </if>
        </where>
        ORDER BY modify_time DESC
    </select>


    <select id="countByCond" resultType="long">
        SELECT count(1)
        FROM
        <include refid="table"/>
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>

            <if test="key != null and key != ''">
                AND key = #{key}
            </if>
            <if test="value != null and value != ''">
                AND value = #{value}
            </if>
            <if test="type != null ">
                AND type = #{type}
            </if>
        </where>
    </select>

</mapper>