<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.isparks.dao.mybatis.mapper.PostCategoryRLMapper">

    <sql id="table">
        post_category_rl
    </sql>

    <sql id="selectAll">
        SELECT id,post_id,category_id,create_time,modify_time FROM
        <include refid="app.isparks.dao.mybatis.mapper.PostCategoryRLMapper.table"/>
    </sql>

    <resultMap id="resultMap" type="app.isparks.core.pojo.entity.relation.PostCategoryRL">
        <id property="id" column="id"/>
        <result property="postId" column="post_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO
        <include refid="app.isparks.dao.mybatis.mapper.PostCategoryRLMapper.table"/>
        (
        <if test="postId != ''">post_id,</if>
        <if test="categoryId != ''">category_id,</if>
        id,create_time,modify_time,status
        )
        VALUES
        (
        <if test="postId != ''">#{postId},</if>
        <if test="categoryId != ''">#{categoryId},</if>
        #{id},#{createTime},#{modifyTime},#{status}
        )
    </insert>


    <delete id="deleteByPost">
        DELETE FROM
        <include refid="app.isparks.dao.mybatis.mapper.PostCategoryRLMapper.table"/>
        WHERE post_id = #{postId}
    </delete>

    <delete id="deleteByCategory">
        DELETE FROM
        <include refid="app.isparks.dao.mybatis.mapper.PostCategoryRLMapper.table"/>
        WHEN category_id = #{categoryId}
    </delete>

    <delete id="deleteByCond">
        DELETE FROM
        <include refid="app.isparks.dao.mybatis.mapper.PostCategoryRLMapper.table"/>
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="createTime != null">
                AND create_time = #{createTime}
            </if>
            <if test="modifyTime != null">
                AND modify_time = #{modifyTime}
            </if>

            <if test="postId != null and postId != ''">
                AND post_id = #{postId}
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND category_id = #{categoryId}
            </if>
        </where>
    </delete>

    <select id="selectByPost" resultMap="resultMap">
        <include refid="app.isparks.dao.mybatis.mapper.PostCategoryRLMapper.selectAll"/>
        WHERE post_id = #{postId}
    </select>

    <select id="selectByCategory" resultMap="resultMap">
        <include refid="app.isparks.dao.mybatis.mapper.PostCategoryRLMapper.selectAll"/>
        WHERE category_id = #{categoryId}
    </select>

    <select id="selectByCond" resultMap="resultMap">
        <include refid="app.isparks.dao.mybatis.mapper.PostCategoryRLMapper.selectAll"/>
        <where>
            <if test="postId != null and postId != ''">
                AND post_id = #{postId}
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND category_id = #{categoryId}
            </if>
        </where>
        ORDER BY modify_time DESC
    </select>

    <select id="selectPostByCategory" resultType="list" resultMap="app.isparks.dao.mybatis.mapper.PostMapper.resultMap">
        SELECT p.id,p.title,p.url,p.origin_content,p.summary,p.status,p.create_time,p.modify_time
        FROM <include refid="app.isparks.dao.mybatis.mapper.PostMapper.table"/> p
        LEFT JOIN <include refid="table"/> rl ON p.id = rl.post_id
        <where>
            rl.category_id = #{categoryId}
            <if test="cond.id != null and cond.id != ''">
                AND p.id = #{cond.id}
            </if>
            <if test="cond.status != null">
                AND p.status = #{cond.status}
            </if>
            <if test="cond.createTime != null">
                AND p.create_time = #{cond.createTime}
            </if>
            <if test="cond.modifyTime != null">
                AND p.modify_time = #{cond.modifyTime}
            </if>
            <if test="cond.title != null and cond.title != ''">
                AND p.title = #{cond.title}
            </if>
            <if test="cond.url != null and cond.url != ''">
                AND p.url = #{cond.url}
            </if>
            <if test="cond.originContent != null and cond.originContent != ''">
                AND p.originContent = #{cond.originContent}
            </if>
            <if test="cond.summary != null and cond.summary != ''">
                AND p.summary = #{cond.summary}
            </if>
        </where>
    </select>

    <select id="countByCond" resultType="long">
        SELECT count(1)
        FROM
        <include refid="app.isparks.dao.mybatis.mapper.PostCategoryRLMapper.table"/>
        <where>
            <if test="postId != null and postId != ''">
                AND post_id = #{postId}
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND category_id = #{categoryId}
            </if>
        </where>
    </select>

    <update id="updateById" >
        UPDATE
        <include refid="app.isparks.dao.mybatis.mapper.PostCategoryRLMapper.table"/>
        <set>
            <if test="categoryId != null and categoryId != ''">category_id = #{categoryId} ,</if>
            <if test="postId != null and postId != ''">post_id = #{postId} ,</if>
            modify_time = #{modifyTime}
        </set>
        WHERE
        id = #{id}
    </update>

</mapper>