<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>分类</title>
<meta th:replace="partials/head :: meta"/>
<link th:replace="partials/head :: link"/>
<style th:replace = "partials/head :: style"></style>
    <style>

    </style>
</head>
<body is-loading>
<div th:insert = "partials/header :: nav" style="background-color: black;"></div>
<div id="content" v-cloak  class="uk-container uk-container-xsmall" style="margin-top: 2rem;" >

    <div class="uk-grid-small uk-text-center" uk-grid>
        <div><button class="uk-button uk-button-default uk-border-rounded" type="button" th:onclick="loadPostByCategory(null)">全部（{{all}}）</button></div>
        <div th:each="c : ${PageData.data}"><button class="uk-button uk-button-default uk-border-rounded" type="button"  th:text="${c.name}+'('+${c.postNumber}+')'" th:onclick="loadPostByCategory([[${c.id}]])"></button></div>
    </div>

    <div class="uk-margin-top">
        <a v-for="p in posts" :href="'/post/'+p.id" class="uk-display-block uk-card uk-card-body uk-card-default uk-link-toggle uk-margin-bottom">
            <h3 class="uk-card-title"><span class="uk-link-heading">{{p.title}}</span></h3>
            <p>{{p.summary}}</p>
        </a>
    </div>

    <div class="uk-flex uk-flex-center">
        <ul class="uk-pagination" uk-margin>
            <li><a href="#" @click="skip(page - 1)"><span uk-pagination-previous></span></a></li>
            <li v-for="i of totalPage">
                <a href="#" v-if="page != i" @click="skip(i)">{{i}}</a>
                <a href="#" v-if="page == i"class="uk-active">{{i}}</a>
            </li>
            <li><a href="#" @click="skip(page + 1)"><span uk-pagination-next></span></a></li>
        </ul>
    </div>

</div>
<footer th:replace = "partials/footer :: fra"></footer>
</body>
<script th:replace="partials/script :: fra"></script>
<script  th:inline="javascript">
let pd = [[${PageData.data}]] || [];
let app = null;
function pageLoaded(config){
    app = new Vue({
        el: '#content', 
        data:{
            categories:pd,
            posts:[],
            currentCategoryId:null,
            page:1,
            size:5,
            totalData:0,
            totalPage:1,
            all:0
        },
        methods:{
            load(categoryId){

                this.currentCategoryId = categoryId;
                let page = this.page;
                let size = this.size;

                axios.get("/api/blog/page/post/by/category",{
                    params:{
                        page:page,
                        size:size,
                        id:categoryId
                    }
                }).then(res => {
                    if(res.status == 200){
                        this.posts = res.data.data.data;
                        this.page = res.data.data.page;
                        this.size = res.data.data.size;
                        this.totalData = res.data.data.totalData;
                        this.totalPage = res.data.data.totalPage;

                        if(categoryId == null){
                            this.all = res.data.data.totalData;
                        }

                    }
                });
            },
            skip(page){
                if(!(page > 0 && page <= this.totalPage)){
                    return;
                }
                
                this.page = page;

                this.load(this.currentCategoryId);
            }

        },
        created(){
            this.load(null);
        }
    });
    
}
function loadPostByCategory(categoryId){
    app.load(categoryId);
}
</script>
</html>