<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title >title</title>
<meta th:replace="partials/head :: meta"/>
<link th:replace="partials/head :: link"/>
<link th:href="@{/static/plugins/highlight/styles/default.min.css}" rel="stylesheet"/>
</head>
<body>
<div  id="main" v-cloak >
    <div style="position: relative;">
        <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="../static/images/img3.jpg" uk-img style="display: flex;flex-direction: column;">
            <h1 style="font-weight: 900;" v-text="title">Background Image</h1>
            <small >{{formatDate(createTime)}}</small>
        </div>
        <a href="/index" class="uk-button uk-button-secondary" style="position: absolute;top: 2rem;left: 2rem;">首页</a>
    </div>
    
    <div id="content" class="uk-container uk-container-xsmall" style="margin-top: 2rem;" v-html="content">
        content
    </div>
    
    <hr >
    <div id="comment">
        <div class="uk-container uk-container-xsmall" style="margin-top: 2rem;" >
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="昵称" >
            </div>
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="邮箱（可不填）">
            </div>
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="3" placeholder="内容" >111</textarea>
            </div>
            <div class="uk-margin" style="display: flex;justify-content: flex-end;">
                <button class="uk-button uk-button-default" >提交</button>
            </div>
        </div>
        
        <hr >
        
        <div class="uk-container uk-container-xsmall" style="margin-top: 2rem;" >
            <article class="uk-comment uk-visible-toggle" tabindex="-1" v-for="c in comments" style="margin-bottom: 1rem;">
                <header class="uk-comment-header uk-position-relative" >
                    <div class="uk-grid-medium uk-flex-middle" uk-grid style="margin-left: -30px;">
                        <div class="uk-width-auto">
                            <div style="border: 0.5px solid #6f6f6f63;overflow: hidden;border-radius: 5px;">
                                <img class="uk-comment-avatar" src="../static/images/logo.png" width="80" height="80" alt="">
                            </div>
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#" >name</a></h4>
                            <small>name</small>
                            <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#" >{{formatDate(0000)}}</a></p>
                        </div>
                    </div>
                    <div class="uk-position-top-right uk-position-small uk-hidden-hover" ><a class="uk-link-muted" >回复</a></div>
                </header>
                <div class="uk-comment-body" style="padding: 1rem;border: 0.5px solid #6f6f6f63;overflow: hidden;border-radius: 5px;">
                    <p >内容</p>
                </div>
            </article>
        </div>
    </div>
</div>

<footer th:replace = "partials/footer :: fra"></footer>

</body>
<script>
    window.onload = function(){
        Vue.createApp({
           data(){
                return {
                    content:"111111",
                    title:"",
                    createTime:0
                }
           },
           methods:{
                formatDate(mis){
                    return i$.kit.date.format(mis);
                },
                getQueryVariable(variable){
                    let query = window.location.search.substring(1);
                    let vars = query.split("&");
                    for (var i=0;i<vars.length;i++) {
                            var pair = vars[i].split("=");
                            if(pair[0] == variable){return pair[1];}
                    }
                    return(false);
                }
           },
           created(){
               let id = this.getQueryVariable("id");
               if(id){
                    i$.request({
                        href:"api/meet/post/id",
                        params:{
                            postId:id
                        }
                    },(res) => {
                        this.content = marked.parse( res.content);
                        this.title = res.title;
                        this.createTime = res.createTime;
                    });
               }
           }
       }).mount("#main");
    }
</script>
<script th:replace="partials/script :: fra"></script>
<!-- <script src="../static/plugins/marked/marked.min.js" th:src="@{/static/plugins/marked/marked.min.js}" type="text/javascript"></script> -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="/static/plugins/highlight/highlight.min.js" th:src="@{/static/plugins/highlight/highlight.min.js}" type="text/javascript"></script>
</html>