<!-- 模板内容开始 -->
<section th:fragment="fra" style="height: 100%;width: 100%;">
    <style>

    </style>
    <div id="journal-manage-page" v-cloak>
        <div class="uk-child-width-1-5@m uk-child-width-1-1 uk-grid-match uk-grid-small" uk-grid>
            <div  v-for="(j,i) in journals">
                <div class="uk-card uk-card-default uk-card-body " >
                    <h3 class="uk-card-title">{{formatDate(j.createTime)}}</h3>
                    <p style="    height: 180px;overflow: hidden;">{{j.content}}</p>
                    <ul class="uk-iconnav" style="flex-direction: row-reverse;">
                        <li @click="deleteById(j.id)"><a uk-icon="icon: trash"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <ul v-if="totalPage > 1" class="uk-pagination" uk-scrollspy="cls: uk-animation-slide-bottom; target:.uk-pagination;delay: 300;">
            <li><a href="#" @click="pre"><span class="uk-margin-small-right" uk-pagination-previous ></span>上一页</a></li>
            <li class="uk-margin-auto-left"><a href="#" @click="next">下一页<span class="uk-margin-small-left" uk-pagination-next></span></a></li>
        </ul>
    </div>
<script>
app = new Vue({
    el: '#journal-manage-page',
    data:{
        page:1,
        size:10,
        totalPage:0,
        totalData:0,
        journals:[]
    },
    methods:{
        initPageData(){
            i$.page("v1/admin/journal/page",(res) => {
                console.log(res);
                this.journals = res.data;
                this.posts = res.data;
                this.page = res.page;
                this.totalPage = res.totalPage;
                this.totalData = res.totalData;
            });
        },
        deleteById(id){
        
            i$.delete("v1/admin/journal/"+id,(res) => {
                i$.toast.info("删除成功");
                this.initPageData();
            });
        },
        pre(){
            i$.pre_page({
                href:"v1/admin/journal/page",
                page:this.page-1
            },(res) => {
                this.journals = res.data;
                this.page = res.page;
                this.totalPage = res.totalPage;
                this.totalData = res.totalData;
            });
        },
        next(){
            i$.next_page({
                href:"v1/admin/journal/page",
                page:this.page+1
            },(res) => {
                this.journals = res.data;
                this.page = res.page;
                this.totalPage = res.totalPage;
                this.totalData = res.totalData;
            });
        },
        formatDate(ms){
            const date = new Date(ms);
            return date.getFullYear().toString() + "-" + (date.getMonth() + 1).toString() + "-" + date.getDate().toString() + " " +
                    date.getDate().toString() + ":" + date.getMinutes().toString() ;
        }
    },
    created(){
        this.initPageData();
    }
});
</script>
</section>
<!-- 模板内容结束 -->