<div th:fragment="fra" style="display: flex;">
<script>
    function hideSideBar(){
        let sidebarHidden = document.getElementById("sidebar").hidden;
        localStorage.setItem('sidebar.hidden',!sidebarHidden);
    }
</script>
<style>
    .is-buttom-buttons:hover{
        background: #848484;
    }
</style>
<span class="is-buttom-buttons" uk-icon="icon: chevron-double-left; ratio: 1.5" uk-toggle="target: #sidebar; animation: uk-animation-slide-left" style="color: #EDEDED;" onclick="hideSideBar()"></span>
</div>