<!-- section start -->
<section th:fragment="fra" class="is-main-content">
<style>
    .is-widget-box{
        display: flex !important;
        flex-wrap: wrap !important;
        box-shadow: 0 0 28px rgb(0 0 0 / 8%);
        border-radius: 5px;
        overflow: hidden;
    }
    .is-widget-box div{
        box-sizing: border-box;
    }
    .is-widget-content{
        width: calc(100% - 60px);;
        padding: 20px 15px;
        min-height: 90px;
    }
    .is-widget-content-title{
        font-weight: 700;
        font-size: 24px;
        line-height: 1.42em;
        color: #343a40 !important;
    }
    .is-widget-content-text{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.71em;
        color: #343a40 !important;
    }
    .is-widget-icon{
        width: 60px !important;
        text-align: center;
        display: flex;
        background: #334148;
        color: rgb(255, 255, 255);
        font-size: 30px
    }
    .is-widget-icon *{
        margin: auto;
    }
/* checkbox */
.is-customize-checkbox{
    padding: .5rem;
    width:10%;
}
.is-customize-checkbox>input[type=checkbox]{
    display: none;
}

.is-customize-checkbox>span {
    /* background-color: #373740; */
    background-color: #101924;
    border: .5px solid #101924;
    border-radius: 4px;
    font-weight: 700;
    color: #FFF;
    font-size: .85em;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 150ms ease-in;
}
.is-customize-checkbox>span:hover {
    color: #FFF;
    background: #101924 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center;
    background-size: 15px 13px;
}

.is-customize-checkbox>input[type=checkbox]:checked + span {
    background: #101924 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center;
    color: #FFF;
    background-size: 15px 13px;
}
.is-customize-checkbox>input[type=checkbox]:checked:hover + span {
    color: #FFF;
    background: #101924 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS5JREFUeNq8110OgjAMAGBGvIY3VESjt9jPg95PT+LccBIZ7dYOWJPGB+g+Ymg3hLW2QeLkcu/y2pSFdvl0eQevehjI3uXbfkMh96TShFq/xhG6J4faAtxEtSBOQTm4QWpnOBWl4CZT69fuYpiCpnBDrB1xLhrjgoFO8F1oGcFslUv4bV32zFoxmOHJta0XMn65dC0UaiddA8UGiN4axeC1cUkdmWviEls/NwL1FqjPNtNvoimPdC3yRCUTiTXbt0R/oSnw2iiK10BBvBY6w2uiE3xJr8oFtcrvxy/fVcyeVdGx98yotcOxN/znHeMUIhdMOG8c4reagssF43VEoT5O4ZJwvNUUFJtcEE5BMXyGpnanf5yDxjiI+hSJj7YunEBvhbuTCh9tD+jiR4ABAJ0SrJgNr1UAAAAAAElFTkSuQmCC) no-repeat 7% center;
    background-size: 15px 15px;
}
</style>
<div id="dash-page" v-cloak>
    <div class="uk-placeholder" style="text-align: center;" >
        <h1 class="uk-heading-small"><span style="color: lightcoral;">i</span> Sparks !</h1>
        <small>这是一个简洁方便的建站系统。</small>
    </div>

    <div class="uk-child-width-1-4@m uk-child-width-1-3@s uk-child-width-1-1 uk-grid-match uk-grid-small" uk-grid style="width: 100%;" >
        <div v-for = "d in dataPanel">
            <div class="is-widget-box" >
                <div class="is-widget-content">
                    <div class="is-widget-content-title">
                        {{d.title}}
                    </div>
                    <div class="is-widget-content-text">
                        {{d.content}}
                    </div>
                </div>
                <div class="is-widget-icon">
                    <span>{{d.textIcon}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-child-width-1-2@m uk-child-width-1-1 uk-grid-match uk-grid-small" uk-grid style="border-radius: 5px;width: 100%;">
        <div >
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
                <p class="uk-card-title">随笔</p>
                <div>
                    <textarea class="uk-textarea" rows="5" v-model="journal.content" maxlength="230"></textarea>
                </div>
                <div><button class="uk-button uk-button-default" style="float: right;margin-top: .5rem;background: #334148;color:#fff;" @click="createJournal">发表随笔</button></div>
            </div>
        </div>
        <div>
            <div class="uk-light uk-background-secondary uk-padding " style="border-radius: 5px;overflow:hidden;">
                <p>网站运行了：</p>
                <div id="countDown" class="uk-grid-small uk-child-width-auto uk-margin" uk-grid  style="display: flex;justify-content: center;">
                    <div>
                        <div class="uk-countdown-number uk-countdown-days">{{renderText(dateCount.difDays)}}</div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">天</div>
                    </div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-hours">{{renderText(dateCount.difHours)}}</div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">时</div>
                    </div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-minutes">{{renderText(dateCount.difMinutes)}}</div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">分</div>
                    </div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-seconds">{{renderText(dateCount.difSeconds)}}</div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">秒</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-child-width-1-1 uk-grid-match uk-grid-small" uk-grid style="width: 100%;">
        <div>
            <div style="box-shadow: 0 0 28px rgb(0 0 0 / 10%);border-radius: 5px;overflow:hidden;">
                <div id="logTypeSelect" style="display: flex;flex-wrap: wrap;" hidden>
                    <label class="is-customize-checkbox" v-for="(value,key) in logTypes">
                        <input type="checkbox" name="logType" v-model="key" value="1" />
                        <span>{{value}}</span>
                    </label>
                </div>
                <div style="display: flex;justify-content: center;padding: .3rem;margin: .5rem;border-radius: 5px;box-shadow: 0 0 3px darkgrey;">
                    <a href="#" uk-icon="icon: thumbnails" uk-toggle="target: #logTypeSelect; animation: uk-animation-fade; queued: true"></a>
                </div>
                <table class="uk-table uk-table-responsive uk-table-divider" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th style="text-align: start;">操作</th>
                            <th style="text-align: start;">类型</th>
                            <th style="text-align: start;">时间</th>
                            <th  style="text-align: start;">接口名</th>
                            <th  style="text-align: start;">ip</th>
                            <th  style="text-align: start;">用户</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for = "(log,index) in logData.logs">
                            <td>{{(logData.page - 1) * logData.size + index + 1}}</td>
                            <td>{{log.content}}</td>
                            <td>{{log.types}}</td>
                            <td>{{log.date}}</td>
                            <td>/admin/post/update</td>
                            <td>{{log.ip}} <a uk-icon="icon:info" @click="showIpInfo(log.ip)"></a></td>
                            <td>admin</td>
                        </tr>
                    </tbody>

                </table>
                <ul class="uk-pagination uk-flex-center" uk-margin  style="margin-top: 0;">
                    <li><a href="#" @click="logPre"><span uk-pagination-previous></span></a></li>
                    <li><a href="#" @click="logNext"><span uk-pagination-next></span></a></li>
                </ul>
                <!-- ip info modal start-->
                <div id="ip-info-modal" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body">
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <h2 class="uk-modal-title">{{ipInfo.ip}}</h2>
                        <div class="uk-margin">
                            <div class="uk-inline" style="display: inline-block;width:100%;">
                                <a class="uk-form-icon uk-form-icon-flip" href="#" @click="requestIpInfo"><i class="icon-paper-plane-empty" style="color: rgb(42, 57, 124);"></i></a>
                                <input class="uk-input" type="text" placeholder="查询接口" v-model="ipInfo.api">
                            </div>
                        </div>
                        <p>{{ipInfo.info}}</p>
                    </div>
                </div>
                <!-- ip info modal end-->
            </div>
        </div>
    </div>


</div>
<script>
    function pageLoaded(config){
        const app = new Vue({
            el: '#dash-page',
            data:{
                dataPanel : [],
                logData :{
                    logs : [],
                    page : 1,
                    size : 10,
                    totalPage : 0,
                    totalData : 0
                },
                logTypes:{},
                dateCount :{
                    installTime : 0 ,
                    dateCountTimer : null,
                    difDays : 0 ,
                    difHours : 0 ,
                    difMinutes : 0 ,
                    difSeconds : 0
                },
                ipInfo:{
                    ip:"",
                    info:"",
                    // 临时
                    api:"http://www.svlik.com/t/ipapi/ip.php"
                },
                journal:{
                    content:''
                }
            },
            methods:{
                initPage(){
                    this.loadPanelData();
                    this.loadLogData();
                    this.loadLogTypes();
                },
                createJournal(){
                    let content = this.journal.content;
                    if(!content){
                        console.log("随笔内容不能为空");
                        return;
                    }
                    axios.post("/api/admin/journal/create",{
                        content:content
                    }).then(res => {
                        if(res.data.code == 8101){
                            this.initPage();
                            this.journal.content = '';
                        }
                    }).catch(err => {console.log(err)});
                },
                loadPanelData(){
                    axios.get("/api/admin/page/dash").then(res => {
                        if(res.data.code == 8101){
                            this.dataPanel = res.data.data.panel;
                            this.dateCount.installTime = res.data.data.installTime ? res.data.data.installTime : new Date().getTime();
                            this.startCountDate();
                        }
                    }).catch(err => {
                        console.log(err);
                    });
                },
                loadLogData(){
                    axios.get("/api/admin/log/page",{
                        params:{
                            page:this.logData.page,
                            size:this.logData.size
                        }
                    }).then(res => {
                        console.log(res);
                        if(res.data.code == 8101){
                            this.logData.logs = res.data.data.data;
                            this.logData.page = res.data.data.page;
                            this.logData.size = res.data.data.size;
                            this.logData.totalData = res.data.data.totalData;
                            this.logData.totalPage = res.data.data.totalPage;
                        }
                    }).catch(err => {
                        console.log(err);
                    });
                },
                loadLogTypes(){
                    axios.get("/api/admin/log/types").then(res => {
                        console.log(res);
                        this.logTypes = res.data.data;
                    }).catch(err => {
                        console.log(err);
                    });
                },
                startCountDate(){ // 启动时间统计
                    if(this.dateCount.dateCountTimer != null){
                        clearInterval(this.dateCountTimer);
                    }

                    const installTime = this.dateCount.installTime;
                    let difTime = new Date().getTime() - installTime;

                    this.dateCount.difDays = Math.floor(difTime / (24 * 3600 * 1000)) ;
                    difTime %= (24 * 3600 * 1000); 
                    this.dateCount.difHours = Math.floor(difTime / ( 3600 * 1000)) ;
                    difTime %= ( 3600 * 1000); 
                    this.dateCount.difMinutes = Math.floor(difTime / ( 60 * 1000)) ;
                    difTime %= ( 60 * 1000); 
                    this.dateCount.difSeconds = Math.floor(difTime / ( 1000)) ;;

                    
                    this.dateCount.dateCountTimer = setInterval(() => {
                        if(this.dateCount.difSeconds < 59){
                            this.dateCount.difSeconds ++ ;
                        }else{
                            this.dateCount.difSeconds = 0;
                            if(this.dateCount.difMinutes < 59){
                                this.dateCount.difMinutes ++ ;
                            }else{
                                this.dateCount.difMinutes = 0;
                                if(this.dateCount.difHours < 23){
                                    this.dateCount.difHours ++ ;
                                }else{
                                    this.dateCount.difHours = 0 ;
                                    this.dateCount.difDays ++ ;
                                }
                            }
                        }
                    },1000);

                },
                logPre(){
                    if(this.logData.page > 1){
                        this.logData.page -= 1;
                        this.loadLogData();
                    }
                },
                logNext(){
                    if(this.logData.page < this.logData.totalPage){
                        this.logData.page += 1 ;
                        this.loadLogData();
                    }
                },
                renderText(number){
                    return number <= 9 ? '0' + number : ''+number;
                },
                showIpInfo(ip){
                    this.ipInfo.ip = ip;
                    UIkit.modal(document.getElementById("ip-info-modal")).show();
                },
                requestIpInfo(){
                    let api = this.ipInfo.api;
                    let ip = this.ipInfo.ip;
                    if(api == ""){
                        alert("查询接口不能为空");
                        return;
                    }
                    if(api.indexOf("?") > -1){
                        api += ("&ip="+ip);
                    }else{
                        api += ("?ip=" + ip);
                    }
                    window.open(api,'_blank');

                }
            },
            created(){
                this.initPage();
            }
        });
        app.$watch('ipInfo.ip',function(newVal,oldVal){
            if(newVal != ""){

            }
        });
    }
</script>
</section>
<!-- section end -->