<html>
    <head >
        <title >edit</title>
        <meta charset="utf-8"/>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport'/>
        <link rel="icon" href="../../../../static/images/favicon.ico"  >
        <meta name="description" content="设置页面">
        <meta name="author" content="chenghd">
        <link href="../../../../static/css/uikit.min.css"  rel="stylesheet"/>
        <link href="../../../../static/css/uikit-rtl.min.css" rel="stylesheet"/>
    </head>
<body>

<!-- 模板内容开始 -->
<section th:fragment="fra" style="height: 100%;width: 100%;display: flex;justify-content: center;align-items: flex-start;">
<style>
    .is-edit{
        margin-top: 20px;
    }
    .is-edit div{
        box-sizing: border-box;
    }
    .is-edit-menu{
        width: 100%;
        min-height: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap-reverse;
    }
    .is-eidt-menu-button{

    }
    .is-edit-content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .is-edit-content-left{
        width: 50%;
        min-height: 300px;
        border: .5px solid rgba(0,0,0,.3);
        padding: .5rem;
    }
    .is-edit-content-right{
        width: 50%;
        border: .5px solid rgba(0,0,0,.3);
        border-left: 0;
        padding: .5rem;
    }
    .is-tag{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .is-tag-item{
        margin: 5px;
        height: 30px;
        line-height: 30px;
    }
    .is-tag-add{
        display: flex;
        height: 100%;
        padding: 3px;
        margin-left: 0;
        padding-left: 0;
        justify-content: center;
        align-items: center;
    }
    .is-tag-add input{
        width: auto;
        height: 30px;
        margin-right: 10px;
        border:.5px solid rgba(0,0,0,.3);
    }
    .is-tag-add a{
        text-decoration: none;
        color: rgba(0,0,0,.3);
        text-align: center;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: .5px solid rgba(0,0,0,.3);
        line-height: 20px;
    }
</style>
<div id="edit-page" style="width: 100%;" v-cloak uk-scrollspy="cls: uk-animation-slide-bottom; target:>div;delay: 300;">
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">标题</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" v-model="title">
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-select">分类</label>
        <div class="uk-form-controls">
            <select id="category-select" class="uk-select" @change="selectCategory($event)">
                <option></option>
                <option v-for="category in categories" :value="category.id" >{{category.name}}</option>
            </select>
        </div>
    </div>

    <!-- markdwon 编辑器 开始 -->
    <div class="is-edit">
        <div class="is-edit-menu">
            <span class="is-eidt-menu-button"><span uk-icon="icon: grid"></span></span>
        </div>
        <div class="is-edit-content">
            <div id="markdownTextContent" class="is-edit-content-left" contenteditable="true" @input="changeText($event)">
            </div>
            <div class="is-edit-content-right" v-html="markdownParse">
            </div>
        </div>
    </div>
    <!-- markdwon 编辑器 结束 -->

    <!-- 标签开始 -->
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">标签</label>
        <div class="is-tag">

            <div class="is-tag-item is-tag-add">
                <input type="text" v-model="newTag" /> <span uk-icon="plus-circle" @click="addTag"></span>
            </div>
            <div class="is-tag-item" v-for="tag in tags">{{tag}} <span uk-icon="close" @click="removeTag(tag)"></span></div>
        </div>
    </div>
    <!-- 标签结束 -->

    <!-- 简介开始 -->
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-select">简介</label>
        <textarea class="uk-textarea" rows="3" v-model="summary"></textarea>
    </div>
    <!-- 简介结束 -->

    <hr >

    <div class="uk-margin">
        <div class="uk-button-group">
            <button class="uk-button uk-button-secondary" v-if="!isUpdate" @click="create" >发布</button>
            <button class="uk-button uk-button-secondary" v-if="!isUpdate" @click="createTemp" >草稿箱</button>
            <button class="uk-button" v-if="isUpdate" @click="update" >更新</button>
        </div>
    </div>

</div>

<script>
function pageLoaded(config){
    loadJS("/static/plugins/marked/marked.min.js",function(){
        const app = new Vue({
            el: '#edit-page',
            data:{
                categoryId:"",
                markdownText :"",
                markdownParse :"",
                categories:[],
                title:"",
                summary : "",
                newTag:"",
                tags:[],
                isUpdate:false
            },
            methods:{
                initPageData(){
                    axios.get("/api/admin/category/list").then(res => {
                        this.categories = res.data.data;
                    }).catch(err => {
                        console.log(err);
                    });
                },
                clearNewPost(){
                    const categorySelect = document.getElementById("category-select");
                    if(categorySelect.options[0]){
                        categorySelect.options[0].selected = true;
                    }
                    this.title = "";
                    this.markdownText = "";
                    document.getElementById("markdownTextContent").innerText = "";
                    this.summary = "";
                    this.categoryId = "";
                    this.tags = [];
                },
                create(){
                    const data = {
                        title:this.title,
                        originContent:this.markdownText,
                        categoryId:this.categoryId,
                        tagNames:this.tags,
                        summary:this.summary
                    }
                    axios.post("/api/admin/post/create",data).then(res => {
                        console.log(res);
                        this.clearNewPost();
                        //window.open("/admin/page/post/review/"+res.data.data.id);
                    }).catch(err => {
                        console.log(err);
                    });
                },
                update(){
                    const id = this.getValueFromUrl("id");
                    if(id == null || id == ""){
                        return;
                    }

                    const data = {
                        title:this.title,
                        originContent:this.markdownText,
                        categoryId:this.categoryId,
                        tagNames:this.tags,
                        summary:this.summary,
                        id:id
                    }
                    axios.post("/api/admin/post/update",data).then(res => {
                        this.clearNewPost();
                        const id = this.getValueFromUrl("id");
                        window.open("/admin/page/post/review/"+id);
                        this.getUpdatePostInfo(id);
                    }).catch(err => {
                        console.log(err);
                    });
                },
                createTemp(){
                    const data = {
                        title:this.title,
                        originContent:this.markdownText,
                        categoryId:this.categoryId,
                        tagNames:this.tags,
                        summary:this.summary
                    }
                    axios.post("/api/admin/post/create/temp",data).then(res => {
                        this.clearNewPost();
                    }).catch(err => {
                        console.log(err);
                    });
                },
                changeText(event){
                    this.markdownText = event.currentTarget.innerText;
                    const html = marked(this.markdownText);
                    this.markdownParse = html;
                },
                addTag(){
                    let tags = this.tags;

                    if(tags.indexOf(this.newTag) < 0){
                        this.tags.push(this.newTag);
                        this.newTag = "";
                    }
                },
                removeTag(name){
                    const len = this.tags.length;
                    let tags = this.tags;
                    const index = tags.indexOf(name);
                    if(index > -1){
                        this.tags.splice(index,1);
                    }
                },    
                getValueFromUrl(name){
                    let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                    let r = window.location.search.substr(1).match(reg);
                    if (r!=null) return unescape(r[2]); return null;
                },
                selectCategory(e){
                    this.categoryId = e.target.value;
                },
                getUpdatePostInfo(id){
                    axios.get("/api/admin/post/get/by/id",{
                        params:{
                            id:id
                        }
                    }).then(res => {
                        if(res.data.code == 8101){
                            //this.markdownText = res.data.data.originContent;
                            let markdownText = res.data.data.originContent;
                            if(markdownText == null ){
                               markdownText = ""; 
                            }
                            
                            this.title = res.data.data.title;
                            
                            document.getElementById("markdownTextContent").innerText = markdownText;
                            this.markdownParse = marked(markdownText);

                            this.summary = res.data.data.summary;
                            const tags = res.data.data.properties.tags;
                            for(i in tags){
                                this.tags.push(tags[i].name);
                            }
                            const category = res.data.data.properties.category;
                            const categorySelect = document.getElementById("category-select");
                            const options = categorySelect.options;

                            for(i in options){
                                if(options[i].value == category.id){
                                    categorySelect.options[i].selected = true;
                                }
                            }
                            this.categoryId = category.id;

                        }
                        this.isUpdate = true;
                    }).catch(err => {
                        console.log(err);
                    });
                }
                
            },
            created(){
                this.initPageData();

                const id = this.getValueFromUrl("id");
                if(id != null){
                    this.getUpdatePostInfo(id);
                }

            }
        });
    });
    
}
</script>
</section>
<!-- 模板内容结束 -->

</body>
<script src="../../../../static/js/uikit.min.js" type="text/javascript"></script>
<script src="../../../../static/js/uikit-icons.min.js" type="text/javascript"></script>
<script src="../../../../static/js/app.js" type="text/javascript"></script>
</html>

